body{
    margin: 0px;
    padding: 0px;
  }
  .outer-screen{
    background: #13202c;
    width: 900px;
    height: 540px;
    margin: 0px auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    position: relative;
    padding-top: 35px;
  }
  
  .outer-screen:before{
    content: "";
    background: #3e4a53;
    border-radius: 50px;
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 9999;
    width: 50px;
    height: 50px;
  }

  .inner-screen{
    width: 800px;
    height: 340px;
    background: #fff;
    margin: 0px auto;
    padding-top: 80px;
  }
  
  .form{
    width: 400px;
    height: 230px;
    background: #edeff1;
    margin: 0px auto;
    padding-top: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
  
  input[type="text"]{
    display: block;
    width: 309px;
    height: 35px;
    margin: 15px auto;
    background: #fff;
    border: 0px;
    padding: 5px;
    font-size: 16px;
     border: 2px solid #fff;
    transition: all 0.3s ease;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
  input[type="text"]:focus{
    border: 2px solid #1abc9d
  }
  
  input[type="submit"]{
    display: block;
    background: #1abc9d;
    width: 314px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  
  input[type="submit"]:hover{
    background: #09cca6
  }
  
  .link{
      color: none;
      text-decoration: none;
  }
  
  a:hover{
    color: #1abc9d;
  }
  
  
  ::-webkit-input-placeholder {
     color: gray;
  }
  
  :-moz-placeholder { /* Firefox 18- */
     color: gray;  
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     color: gray;  
  }
  
  :-ms-input-placeholder {  
     color: gray;  
  }